@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	font-size: 18px;
	color: #eee;
    line-height: 1.5;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

div {
	scroll-behavior: smooth;
}

body {
    background-color: #0e1621;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	position: fixed;
	bottom: 1vh;
	left: 330px;
	height: 5vh;
	width: 60vw;
	padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: center;
}

img {
    /*-webkit-user-select: none;*/
    /*-webkit-user-drag: none;*/
}

.msg img, .msg-me img {
	max-height: 50vh;
    max-width: 100%;
    border-radius: 5px;
    opacity: 1;
	transition: opacity 0.5s;
	cursor: pointer;
}

.lazyImageError img,
.lazyImageWaiting img {
	opacity: 0;
	transition: none;
}

#send-box img {
	max-height: 10vh;
	max-width: 330px;
	border-radius: 5px;
}

:link {
    -webkit-user-drag: none;
}

.link-text {
	font-size: inherit;
	color: #73b9f5;
}

.chat-container-selected .link-text {
	color: #eee;
}

.me {

}

.non-scroll::-webkit-scrollbar {
	display: none;
}

.msg-name, .msg-name-me {
	float: left;
	font-size: inherit;
}

.msg-name-me {
	float: right;
}

.msg-time {
	float: right;
	margin-left: 50px;
	font-size: 80%;
	color: #808080;
	margin-top: 0.5em;
    margin-left: 1em;
}

.chat-time {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 80%;
	color: #808080;
	user-select: none;
}

.msg, .msg-me {
	background-color: #182533;
    width: max-content;
	max-width: 60%;
    border-radius: 5px 20px 20px 5px;
    overflow-wrap: break-word;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    white-space: pre-wrap;
}

.msg-me {
	background-color: #2b5278;
	float: right;
	border-radius: 20px 5px 5px 20px;
}

.msg-transparent {
	background-color: rgba(0, 0, 0, 0);
	border: unset;
}

.msg-title {
	display: block;
	overflow: hidden;
	font-size: 90%;
}

.msg-wrapper {
	clear: both;
}

.avatar, .avatar-me {
	position: sticky;
	top: 0;
	border-radius: 50%;
	display: inline-block;
	float: left;
}

.avatar-me {
	float: right;
}

#msg-box .avatar {
	margin-left: 10px;
}

#msg-box .avatar-me {
	margin-right: 10px;
}

.chat-container {
	position: relative;
	padding: 10px;
	transition: all 0.2s ease;
	height: 40px;
}

.chat-container:hover:not(.chat-container-selected) {
	background-color: #0e1621;
}

.chat-container-selected {
	background-color: #2b5278;
}

.chat {
	font-weight: bold;
	max-width: 70%;
	word-break: keep-all;
	margin-left: 50px;
    overflow-wrap: normal;
    user-select: none;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-last {
	font-size: 80%;
	max-width: 75%;
	word-break: keep-all;
	margin-left: 50px;
    overflow-wrap: normal;
    user-select: none;
    overflow-x: hidden;
    color: #808080;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-unread {
	position: absolute;
    right: 5px;
    bottom: 7px;
    background-color: #3e546a;
    border-radius: 10px;
    height: 20px;
    width: max-content;
    text-align: center;
    font-size: 80%;
    padding: 0 5px;
    user-select: none;
}

.chat-container-selected .chat-unread {
	background-color: #7aa3ca;
	color: #2b5278;
}

.chat-container-selected .chat-last, .chat-container-selected, .chat-time {
	color: #eee;
}

#list-head {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #17212b;
	height: 40px;
	width: calc(330px - 20px);
	padding: 10px;
	border-right: 1px solid #0e1621;
	border-bottom: 1px solid #0e1621;
	z-index: 1;
}

#chat-head {
	background-color: #17212b;
	padding: 10px;
	height: 40px;
	width: calc(100vw - 330px);
	position: fixed;
	left: 330px;
	top: 0;
}

#chat-list {
	position: fixed;
	left: 0;
	top: 60px;
	height: calc(100vh - 60px);
	width: 330px;
	overflow-wrap: break-word;
	background-color: #17212b;
	border-right: 1px solid #0e1621;
	border-top: 1px solid #0e1621;
	overflow-y: scroll;
	z-index: 1;
}

#msg-box {
	position: fixed;
	right: 0;
	top: 60px;
	height: calc(100vh - 125px);
	width: calc(100vw - 330px);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

#before-start {
	display: block;
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #eee;
	font-weight: bold;
	border-radius: 10px;
	background-color: #3e546a;
    font-size: 80%;
    padding: 0.2em 1em;
    user-select: none;
}

#bottom-area {
	display: none;
	position: fixed;
	left: 330px;
	bottom: 0;
	height: 65px;
	width: calc(100vw - 330px);
    background-color: #17212b;
}

#send-box {
    background-color: #111111;
	position: absolute;
	top: 2.5px;
    height: 40px;
    width: calc(calc(100vw - 330px) - 160px);
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
    margin-left: 10px;
    white-space: pre-wrap;
}

#send-btn {
	position: absolute;
	top: 7.5px;
	height: 50px;
	width: 50px;
	right: 1vw;
	background-image: url("./send.svg");
	transition: all 0.2s ease;
}

#send-btn:hover {
	cursor: pointer;
	background-image: url("./send_hover.svg");
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.gap {
	width: 100%;
    height: 5px;
    clear: both;
}

.arrow-container{
	/*display: none;*/
    position: absolute;
	bottom: 70px;
    right: 10px;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

#arrow {
	position: relative;
	bottom: 0;
	left: 0;
    height: 40px;
    width: 40px;
    border: 1px solid #17212b;
    border-radius: 50%;
    background-color: #17212b;
    box-shadow: 2px 2px 5px black;
    transition: border 0.2s ease-in-out;
}

#arrow:hover {
	cursor: pointer;
	border-color: #5bc0de;
}

#arrow::before{
	content: '';
	width: 30%;
	height: 30%;
	border: 0px;
	border-top: solid 2px #5bc0de;
	border-right: solid 2px #5bc0de;
	transform: translate(-50%, -60%) rotate(135deg);
	position: absolute;
	top: 50%;
	left: 50%;
}

.arrow-unread {
	position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    background-color: #5bc0de;
    border-radius: 10px;
    height: 20px;
    width: max-content;
    text-align: center;
    font-size: 80%;
    padding: 0 5px;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

.arrow-down {
	transform: scale(1.0);
}

.arrow-unread.arrow-down {
	transform: translateX(-50%) scale(1.0);
}

.msg-tail {
    z-index: -1;
    content: '';
    top: 16px;
    left: 22px;
    position: relative;
    border: 0px solid;
    display: block;
    width: 38px;
    height: 14px;
    background-color: transparent;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: 15px 0px 0px 0px #182533;
}

.msg-tail-me {
    z-index: -1;
    content: '';
    top: 16px;
    left: calc(100vw - 330px - 60px);;
    position: relative;
    border: 0px solid;
    display: block;
    width: 38px;
    height: 14px;
    background-color: transparent;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: -15px 0px 0px 0px #2b5278;
}